<section>
    <h2>My Lists Overview</h2>
    <div class="actions">
        <!-- Form to Add New Task -->
        <form action="/tasks" method="POST" id="taskForm">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="text" id="title" name="title" placeholder="Enter a task title" required pattern="[A-Za-z\s]+" maxlength="50">
            <input type="text" id="description" name="description" placeholder="Enter a task description" required pattern="[A-Za-z\s]+" maxlength="250">
            <select id="badge" name="badge" required>
                <option value="Urgent">Urgent</option>
                <option value="Completed">Completed</option>
                <option value="Normal">Normal</option>
            </select>
            <button type="submit" class="new-list-button">Add Task</button>
        </form>
    </div>
    <ul class="grid">
        <% tasks.forEach(task => { %>
            <li class="task-box">
                <h3><a href="/tasks/<%= task._id %>"><%= task.title %></a></h3>
                <p><%= task.description %></p>
                <span class="badge <%= task.badge.toLowerCase() %>"><%= task.badge %></span>
                <div class="list-actions">
                    <!-- Edit Form -->
                    <form action="/tasks/<%= task._id %>/edit" method="POST" style="display: inline;">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" name="title" value="<%= task.title %>" required pattern="[A-Za-z\s]+" maxlength="50">
                        <input type="text" name="description" value="<%= task.description %>" required pattern="[A-Za-z\s]+" maxlength="250">
                        <select name="badge" required>
                            <option value="Urgent" <%= task.badge === 'Urgent' ? 'selected' : '' %>>Urgent</option>
                            <option value="Completed" <%= task.badge === 'Completed' ? 'selected' : '' %>>Completed</option>
                            <option value="Normal" <%= task.badge === 'Normal' ? 'selected' : '' %>>Normal</option>
                        </select>
                        <button type="submit" class="edit-button">Edit</button>
                    </form>
                    <!-- Delete Form -->
                    <form action="/tasks/<%= task._id %>/delete" method="POST" style="display: inline;">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>

    <!-- Error Modal -->
    <div id="errorModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>
</section>