<body>
    <%- include('partials/header') %>
    <main>
        <section>
            <h2>Task Details</h2>
            <div class="task-box">
                <h3><%= task.title %></h3>
                <p><%= task.description %></p>
                <span class="badge <%= task.badge %>"><%= task.badge.charAt(0).toUpperCase() + task.badge.slice(1) %></span>
                <div class="list-actions">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>